@model CBP.WebApp.MVC.Models.UsuarioRegistro

@{
    ViewData["Title"] = "Editar Usuário";
}

<div class="modal fade" id="editarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="editarUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent">

                <div class="modal-header">
                    <h4 class="modal-title">@ViewData["Title"]</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">x</span><span class="sr-only">Fechar</span>
                    </button>
                </div>
                <vc:summary></vc:summary>
                <form asp-controller="Usuario" asp-action="Edicao" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <label asp-for="Id"></label>
                            <br />@Model.Id
                            <input type="hidden" asp-for="Id" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Nome"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <br/>@Model.Email
                            <input type="hidden" asp-for="Email" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Funcao"></label>
                            <select class="form-control" asp-for="Funcao" placeholder="Funcao">
                                <option>Administrador</option>
                                <option selected>Responsavel</option>
                                <option>Operador</option>
                                <option>Desenvolvedor</option>
                            </select>
                            <span asp-validation-for="Funcao" class="text-danger"></span>
                        </div>

                        @*<div class="form-group">
                            <label asp-for="Usuario.Senha"></label>
                            <input type="password" asp-for="Usuario.Senha"  class="form-control" />
                            <span asp-validation-for="Usuario.Senha" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Usuario.SenhaConfirmacao"></label>
                            <input type="password" asp-for="Usuario.SenhaConfirmacao"  class="form-control" />
                            <span asp-validation-for="Usuario.SenhaConfirmacao" class="text-danger"></span>
                        </div>*@

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <input type="submit" value="Salvar" class="btn btn-success" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    BuscaCep();
</script>
