@model CBP.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ooops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Titulo;

        <div class="row" style="padding-top: 100px">
            <div class="alert alert-danger text-center col-md-12" role="alertdialog">
                <h2>Acesso Negado!</h2>
                <h2>@Html.Raw(Model.Mensagem)</h2>
            </div>
        </div>
    }
}
